@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply text-primary;
  }
}

* {
  scroll-behavior: smooth;
}

.text-type {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3.5s infinite ease-in-out;
}

@keyframes typing {
  from {
    width: 0;
  }
}
